* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
footer p {
  text-align: center;
  margin-top: 0;
}


body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background-color: #edeff0;
  background-image: url(../svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%;
  padding:10px;
  /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

 a:hover{

  text-decoration: underline;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}
.dog-faces li span {
  text-align: center;
  display: block;
  margin-left: -30px;
  margin-top: 15px;
}

/*nav svgs*/
.fav:hover .heart .st0, .fav:hover a {
fill:red;
color: #b97f5b;
}

.con:hover .heart .st0, .con:hover a {
color: #b97f5b;
}

.loc:hover .heart .st0,.loc:hover a {
  color: #b97f5b;
}
.heart .st0 {
  transform-origin: 50% 50%;
  transform: scale(1.1);
  fill:#39ADD1;
  animation: heart 2.5s ease-out forwards infinite;
}

.contact:hover .st0 {
  transform: scale(.80);
  transform-origin: 50% 50%;
  fill: #b97f5b;
  transform: rotate(180deg);
  stroke: black;
  stroke-width: 2;
}
.location:hover .st0 {
  transform: scale(.80);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  fill:  #e9aa82;
  stroke: black;
  stroke-width: 2;
}


/*titles*/
.title{
  font-size: 22px;

}
.title:hover {
  transform: scale(1.1);
  color: #b97f5b;
  text-decoration: underline;

}
h2:hover {
  color:#b97f5b;
}
.logo {
  margin-bottom: 35px;
}
.dog-logo {
  width: 140px;
  height: 120px;
}
.logo-svg-text {
  display:none;
}

.logo-header-text {
  line-height: 0;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: -5px;
  color:#EAAA7F;
}
.dog-template {
  display: none;
}
/*dog face colors*/
.dog-sable {
  color: #b97f5b;
}

.dog-fawn {
  color: #e9aa82;
}

.dog-red {
  color: #834b29;
}

.dog-stone {
  color: #52595e;
}

/*main dog logo*/
.middle-pad {
  stroke: #F4C6A6;
  stroke-width: 2;
  stroke-dasharray: 60.483;
  stroke-dashoffset: 60.483;
  animation: offset 3s linear forwards, fill-it .8s 3s forwards;
}

.bottom-pad {
  stroke: #F4C6A6;
  stroke-width: 2;
  stroke-dasharray: 140.317;
  stroke-dashoffset: 140.317;
  animation: offset 3s linear forwards, fill-it .8s 3s forwards;
}

.right-pad,
.left-pad {
  stroke: #F4C6A6;
  stroke-width: 2;
  stroke-dasharray: 60.457;
  stroke-dashoffset: 60.457;
  animation: offset 3s linear forwards, fill-it .8s 3s forwards;
}

.logo-background {
  fill: #BA8058;
  animation: logo-fill 4s linear forwards;
}

/*letters in logo*/
.lt1,.lt2,.lt3,.lt4,.lt5,.lt6,.lt7,.lt8,.lt9,.lt10,.lt11,.lt12,.lt13,.lt14,.lt15{
  fill: #EAAA7F;
}

.lt1 {
  animation: letter-show 1.5s linear .2s;
}
.lt2 {
  animation: letter-show 1.5s linear .4s;
}
.lt3 {
  animation: letter-show 1.5s linear .6s;
}
.lt4 {
  animation: letter-show 1.5s linear .8s;
}
.lt5 {
  animation: letter-show 1.5s linear 1s;
}
.lt6 {
  animation: letter-show 1.5s linear 1.2s;
}
.lt7 {
  animation: letter-show 1.5s linear 1.4s;
}
.lt8 {
  animation: letter-show 1.5s linear 1.6s;
}
.lt9 {
  animation: letter-show 1.5s linear 1.8s;
}
.lt10 {
  animation: letter-show 1.5s linear 2s;
}
.lt11 {
  animation: letter-show 1.5s linear 2.2s;
}
.lt12 {
  animation: letter-show 1.5s linear 2.4s;
}
.lt13 {
  animation: letter-show 1.5s linear 2.6s;
}
.lt14 {
  animation: letter-show 1.5s linear 2.8s;
}
.lt15 {
  animation: letter-show 1.5s linear 3s;
}

/*letters on hover*/
.dog-logo:hover .lt1 {
  animation: letter-show 1.5s linear .2s infinite;
}
.dog-logo:hover .lt2 {
  animation: letter-show 1.5s linear .4s infinite;
}
.dog-logo:hover .lt3 {
  animation: letter-show 1.5s linear .6s infinite;
}
.dog-logo:hover .lt4 {
  animation: letter-show 1.5s linear .8s infinite;
}
.dog-logo:hover .lt5 {
  animation: letter-show 1.5s linear 1s infinite;
}
.dog-logo:hover .lt6 {
  animation: letter-show 1.5s linear 1.2s infinite;
}
.dog-logo:hover .lt7 {
  animation: letter-show 1.5s linear 1.4s infinite;
}
.dog-logo:hover .lt8 {
  animation: letter-show 1.5s linear 1.6s infinite;
}
.dog-logo:hover .lt9 {
  animation: letter-show 1.5s linear 1.8s infinite;
}
.dog-logo:hover .lt10 {
  animation: letter-show 1.5s linear 2s infinite;
}
.dog-logo:hover .lt11 {
  animation: letter-show 1.5s linear 2.2s infinite;
}
.dog-logo:hover .lt12 {
  animation: letter-show 1.5s linear 2.4s infinite;
}
.dog-logo:hover .lt13 {
  animation: letter-show 1.5s linear 2.6s infinite;
}
.dog-logo:hover .lt14 {
  animation: letter-show 1.5s linear 2.8s infinite;
}
.dog-logo:hover .lt15 {
  animation: letter-show 1.5s linear 3s infinite;
}
/*keyframes and animation*/
@keyframes heart {
  0%{
    transform: scale(0);
  }
  30% {
      transform: scale(1.1);
  }
  60% {
    transform: scale(.9);
  }
}

@keyframes letter-show {
  0% {
     fill: #7c5133;
  }
  100% {
    fill: #EAAA7F;
  }
}

@keyframes logo-fill {
  0% {
    opacity: 0;
  }
  70% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: #F4C6A6;
  }
}

@keyframes paw-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes head-tilt {
  0% {
    transform: rotate(-12.5deg);
  }
  25% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(12.5deg);
  }
  100% {
    transform:rotate(0);
  }
}
.paw-template {
  display: none;
}

.dog-stone-svg, .dog-red-svg, .dog-fawn-svg, .dog-sable-svg{
  transform-origin: 50% 50%;
  display: block;
  margin: 0 auto;
  max-width: 150px;
}
.dog-stone-svg:hover {
  animation: head-tilt 2s linear forwards;
}
.dog-red-svg:hover {
  animation: head-tilt 2s linear forwards;
}
.dog-fawn-svg:hover {
  animation: head-tilt 2s linear forwards;
}
.dog-sable-svg:hover {
  animation: head-tilt 2s linear forwards;
}

/*extra paws*/
section svg {
  width: 50px;
  height: 50px;
}

.paw-1, .paw-2 {
  fill: #F4C6A6;
}

.test2 {
  animation: paw-fade 5s linear forwards infinite;
  transform: rotate(5deg);
}

.test {
  animation: paw-fade 7s linear forwards infinite;
  transform: translate(10px,35px) rotate(5deg);
}

.footer-paw {
  width: 25px;
  height: 25px;
  fill: #F4C6A6;
  animation: paw-fade 3s linear forwards infinite;
}

span {
  text-align: center;
font-family: roboto;
font-weight: 300;
font-size: 16px;
color:#e9aa82;
}

span:hover {
  color:#52595e;
  cursor: pointer;
  transform:scale(1.1);

}

@media (min-width:425px){
  .logo-svg-text{
    display:inline;
  }
  .logo-header-text {
    display: none;
  }

}


@media (min-width:768px){
.dog-faces li {
  display: inline-block;
  padding: 0 5px;
}
.dog-faces:hover li {
  cursor:pointer;
}
.dog-logo:hover {
  cursor: pointer;
  animation: heart 1.5s linear forwards;
}
.middle-pad:hover,
.left-pad:hover,
.right-pad:hover,
.bottom-pad:hover {
  stroke: #52595e;
  stroke-width:1px;
}
}
